
#footer{
    padding: 100px 0;
    background: var(--black);
    color: var(--gray)
}

@media(max-width:540px){
    #footer{
        padding: 50px 0
    }
}

.footer-content{
    width: 1200px;
    margin: auto;
}

@media(max-width:1240px){
    .footer-content{
        width: 95%;
    }
}

#footer .footer-content{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
}

@media(max-width:996px){
    #footer .footer-content{
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;
    }
}

@media(max-width:776px){
    #footer .footer-content{
        grid-template-columns: 1fr;
    }
}

.about svg{
    width: 280px
}

.about svg .logo-bg-1{
    fill: var(--cyan)
}

#footer h5{
    color: var(--gold);
    font-weight: 600;
}

@media(max-width:540px){
    #footer h5{
        color: var(--gray)
    }
}

#footer p{
    font-style: italic;
    color:var(--gray)
}

.nav ul{
    display: block;
}

.nav li{
    display: block;
    margin: 10px 0;
}

.nav a{
    color: var(--gray);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav a::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    margin-right: 5px;
    transition: .5s;
}

.nav a:hover::before{
    margin-right: 12px;
}


.contacts ul{
    display: block;
    margin: 10px 0;
}

.contacts li{
    display: inline-block;
}

.contacts a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    transition: .5s;
}

.contacts svg{
    margin-right: 5px;
    width: 34px;
    height: 34px;
    stroke: var(--gray);
    stroke-width: 1px;
}

.contacts em{
    display: block;
    margin: 20px 0 0;
    font-size: 14px;
    line-height: 1.5;
}


#copy{
    background: #000;
    padding: 5px 0;
}



#up{ 
    text-decoration: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 8; 
    width: 40px; 
    height: 40px; 
}

#up svg{
    width: 40px;
    height: 40px;
    stroke: var(--red);
    transition: 0.5s;
}

#up:hover svg{
    stroke: var(--cyan);
}
