/* 
перший блок зі смугою навігації
*/
#header{
    position: relative;
    height: 100vh;
}

#nav{
    background: var(--white);
    display: flex;
    padding: 0 10px;
}

#logo{
    margin-right: auto;
    display: block;
    width: 320px;
}

#menu{
    display: inline-block;
}

#menu li{
    display: inline-block;
}

#lang{
    /* background: var(--cyan-dark); */
    display: inline-block;
    padding: 5px;
}

#lang li{
    display: inline-block;
}

#lang a{
    display: inline-block;
    padding: 3px 0 3px 5px;
    font-size: 14px;
    /* color: var(--gray-light); */
    text-decoration: none;
}

#lang a:hover,
#lang a.current{
    /* color: var(--red); */
    text-decoration: underline;
}




/* 
#nav{
    text-align: center;
}

#nav ul{
    display: inline-block;
}

#nav li{
    display: inline-block;
    padding: 0 10px;
}

#nav a{
    text-decoration: none;
    color: var(--cyan);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
}

#nav a:hover{
    color: var(--red);
} */

#phone{
    text-align: right;
}

#phone a{
    font-weight: 700;
    text-decoration: none;
    color: var(--cyan);
}

#phone a:hover{
    color: var(--red);
}