
#main-content{
    width: 1200px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 70px;
}

@media(max-width:540px){
    #main-content{
        margin: 50px auto;
    }
}

@media(max-width:1240px){
    #main-content{
        width: 95%;
        grid-template-columns: 1fr;
    }
    #main-content figure{
        display: none;
    }
}

#main-content h1{
    text-transform: none;
    color: var(--red);
    font-weight: 600;
    margin: 0 0 40px;
}

@media(max-width:540px){
    #main-content h1{
        color: var(--cyan)
    }
}

#main-content h3{
    padding: 5px;
    font-weight: 300;
    background: var(--cyan);
    color: var(--white);
    display: inline-block;
    font-size: 22px
}

@media(max-width:540px){
    #main-content h3{
        color: var(--cyan);
        background: transparent;
        padding: 0;
        display: block;
    }
}

#main-content p{
    line-height: 1.5;
    margin: 0 0 26px;
}
