
#main-text{
    padding: 100px 0;
    background: url('../images/team.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media(max-width:540px){
    #main-text{
        padding: 50px 0
    }
}

#main-text-content{
    width: 1200px;
    margin: auto;
}

@media(max-width:1240px){
    #main-text-content{
        width: 95%;
    }
}

#main-text h1{
    color: var(--cyan);
    text-align: center;
    font-weight: 600;
    margin: 0 0 40px;
}

#main-text-column{
    columns: 3;
    column-gap: 50px;
}

@media(max-width: 996px){
    #main-text-column{
        columns: 2;
    }
}

@media(max-width: 776px){
    #main-text-column{
        columns: 1;
    }
}

#main-text-column ul,
#main-text-column ol{
    margin: 0 0 40px 20px;
}

#main-text-column li{
    margin: 20px 0;
}

#main-text em{
    display: inline-block;
    padding: 20px;
    background: var(--white);
    color: var(--cyan);
    border-radius: 5px;
    transition: .5s;
}

#main-text em:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}